################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

*.binlog
*.cache
*.tlog
*.pdb
*.ilk
*.meta
*.obj
*.iobj
*.ipdb

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/
*.swp

.vscode/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

PublishScripts/
*.pubxml
*.pubxml.user
*.publishproj
publish/
